<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2>Listing Repositories</h2>

  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>


<ul class="list-unstyled">
  <% @repositories.each do |repository| %>
  <li class="media">
    <img class="mr-3 avatar" src="<%= repository.avatar_url %>" alt="">
    <div class="media-body">
      <h5 class="mt-0"><%= repository.name_with_namespace %></h5>
      <div class="mb-0">
        <%= repository.description %>
      </div>
      <div class="collapse" id="collapse-<%= repository.id %>">
        <div class="form-check checkbox-slider--b-flat">
          <label><input type="checkbox"><span>Product A</span></label>
        </div>
        <div class="form-check checkbox-slider--b-flat">
          <label><input type="checkbox"><span>Product A</span></label>
        </div>
        <div class="form-check checkbox-slider--b-flat">
          <label><input type="checkbox"><span>Product A</span></label>
        </div>
        <div class="form-check checkbox-slider--b-flat">
          <label><input type="checkbox"><span>Product A</span></label>
        </div>
        <div class="form-check checkbox-slider--b-flat">
          <label><input type="checkbox"><span>Product A</span></label>
        </div>
        <div class="form-check checkbox-slider--b-flat">
          <label><input type="checkbox"><span>Product A</span></label>
        </div>
        <div class="form-check checkbox-slider--b-flat">
          <label><input type="checkbox"><span>Product A</span></label>
        </div>
        <div class="form-check checkbox-slider--b-flat">
          <label><input type="checkbox"><span>Product A</span></label>
        </div>
        <div class="form-check checkbox-slider--b-flat">
          <label><input type="checkbox"><span>Product A</span></label>
        </div>
        <div class="form-check checkbox-slider--b-flat">
          <label><input type="checkbox"><span>Product A</span></label>
        </div>
      </div>
    </div>
    <button class="btn btn-outline-dark mb-1" type="button" data-toggle="collapse" data-target="#collapse-<%= repository.id %>" aria-expanded="false" aria-controls="collapse-<%= repository.id %>">
      Expand
    </button>
  </li>
  <% end %>
</ul>
